body {
    margin: 0;
    overflow: hidden;
}

canvas {
    image-rendering: pixelated;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: max-content 1fr;
}

.container__controls {}

.container__view {
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: hidden auto;
}
